<footer class="footer">
      <div class="footer__container">
        <nav class="footer__menu-block">
          <ul class="footer__menu">
            <li class="footer__menu-list"><a href="">Store</a></li>
            <li class="footer__menu-list"><a href="">Popular</a></li>
            <li class="footer__menu-list"><a href="">Features</a></li>
            <li class="footer__menu-list"><a href="">F.a.q.</a></li>
          </ul>
          <ul class="footer__menu">
            <li class="footer__menu-list"><a href="">About</a></li>
            <li class="footer__menu-list"><a href="">Catalog</a></li>
            <li class="footer__menu-list"><a href="">Popular</a></li>
            <li class="footer__menu-list"><a href="">Features</a></li>
          </ul>
          <ul class="footer__menu">
            <li class="footer__menu-list"><a href="">Policy</a></li>
            <li class="footer__menu-list"><a href="">Catalog</a></li>
            <li class="footer__menu-list"><a href="">Popular</a></li>
            <li class="footer__menu-list"><a href="">Features</a></li>
          </ul>
          <ul class="footer__menu">
            <li class="footer__menu-list"><a href="">Team</a></li>
            <li class="footer__menu-list"><a href="">Catalog</a></li>
            <li class="footer__menu-list"><a href="">Popular</a></li>
            <li class="footer__menu-list"><a href="">Features</a></li>
          </ul>
          <ul class="footer__menu">
            <li class="footer__menu-list"><a href="">Support</a></li>
            <li class="footer__menu-list"><a href="">Catalog</a></li>
            <li class="footer__menu-list"><a href="">Popular</a></li>
            <li class="footer__menu-list"><a href="">Features</a></li>
          </ul>
        </nav>
        <div class="footer__bottom">
          <p class="reserved">© 2019 Grayic. All rights reserved</p>
          <ul class="footer__bottom-items">
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a> </li>
            <li><a href="">Site map</a> </li>
          </ul>
          <div class="social">
            <a href=""><img src="img/Twitter-icon%20(16x16).png" alt="twitter"></a>
            <a href=""><img src="img/Social-Network-Facebook-icon.png" alt="facebook"></a>
            <a href=""><img src="img/google-icon.png" alt="google"></a>
          </div>
        </div>
      </div>

</footer>